-  Tropea ‎– Short Trip To Space (1977)         | https://www.youtube.com/watch?v=5ZRQYDoDRkU&some_key=some_value   

07:26 - 07:29   | Little Snippet

16:25 - 18:05   | beginning of Short Trip To Space


# This is a comment: amazing break ahead!

- From's Power On!                              | https://www.youtube.com/watch?v=HjpjG030yD8   

7:50 - 9:33     | Drum break!
